<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
                <strong style="font-size: 30px;">Flipcart</strong>
            </i>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">
            </div>
            
            <!-- <i class="fal fa-search search-icon"></i> -->
            <i class="fas fa-search"></i>
        </div>
    </div>
</header>
